body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 450px;
    
}
.blog-text {
    height: 60px;
    line-height: 20px; /* Height / no. of lines to display */
    overflow: hidden;
}
.blog-content{
    height:150px;
}
.m-l-100{
    margin-left:100px;
}
.m-l-17{
    margin-left:17px;
}
.blog-title{
    padding-right:690px;
}